<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
            flex-direction: column;
            font-size: 1em;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
<h1>My Expenses: </h1>
<form action="{% url 'polls:index' %}" method="GET">
    <fieldset>
        <legend>Date Range:</legend>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script>
            flatpickr('#datepicker', {
                dateFormat: 'Y-m-d',
                enableTime: false,
            });
        </script>
        </fieldset>
    <button type="submit">Submit</button>
</form>
    <p>Total amount: {{ total_amount }}</p>
<table>
    <tr>
        <th>Name</th>
        <th><a href="?start_date={{ start_date }}&end_date={{ end_date }}&sort_by=pub_date">Sort by decrease date</a></th>
        <th><a href="?start_date={{ start_date }}&end_date={{ end_date }}&sort_by">Sort by increase date</a></th>

        <th><a href="?start_date={{ start_date }}&end_date={{ end_date }}&sort_by_amount=amount">Sort by decrease amount</a></th>
        <th><a href="?start_date={{ start_date }}&end_date={{ end_date }}&sort_by_amount">Sort by increase amount</a></th>
    </tr>
    {% for expense in latest_expense_list %}
    <tr>
        <td><a href="{% url 'polls:detail' expense.id %}">{{ expense.name }}</a></td>
        <td>{{ expense.pub_date }}</td>
        <td>{{ expense.amount }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">No expenses.</td>
    </tr>
    {% endfor %}
</table>

<form action="{% url 'polls:index' %}" method="GET">
<input type="submit" value="Clean all" name="clean">
</form>
<a href="{% url 'polls:create' %}">Create a new expense</a>
<a href="{% url 'polls:index_category' %}">Show all categories</a>
</body>
</html>
