<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> All categories: </h1>
<table>
    {% for category in category_list %}
    <tr>
        <td><a href="{% url 'polls:detail_category' category.id %}">{{ category.name }}</a></td>
    </tr>
    {% empty %}
    <tr>
        <td><h1>No categories found.</h1></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'polls:create_category' %}">Create a new category</a>
<a href="{% url 'polls:index' %}" class="button">Back</a>
</body>
</html>